input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add padding to containers */
.container {
    padding: 80px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px;
    margin-top: 10%;
    transition: 0.3s;
    width: 40%;
  }