<div class="card">
<div class="container" >
    <label><b>Party Name</b></label>
    <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="username" required>

    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required>

    <button class="btn btn-primary"(click)="onLoginClick()">sign In</button>
  </div>
</div>
 
            
    
