<div class="card">
    <div class="container">
        <label><b>Product Name</b></label>
        <input type="text" placeholder="Enter Product Name" [(ngModel)]="productName" name="Product Name" required>

        <label><b>Product Color: </b></label>
        <br>
        <input type="radio" placeholder="Enter Product Color" [(ngModel)]="productColor" [value]="color[0]" name="Product Color" required>{{color[0]}}
        <input type="radio" placeholder="Enter Product Color" [(ngModel)]="productColor" [value]="color[1]" name="Product Color" required>{{color[1]}}
        <br>
        <br>
        <label><b>Other Party:</b></label>
        <br>
        <input type="radio" placeholder="Enter Other Party" [(ngModel)]="otherParty" [value]="party[0]" name="Other Party" required>{{party[0]}}
        <br>
        <!-- <input type="radio" placeholder="Enter Other Party" [(ngModel)]="otherParty" [value]="party[1]" name="Other Party" required>{{party[1]}} -->
        <label style="color: red" *ngIf="empty"><b>Please review all fields</b></label>
        <button class="btn btn-primary" (click)="onSubmit()">Send Data</button>
        <br>
        <button class="btn btn-primary" (click)="onGet()">Refresh</button>
    </div>
</div>
<ng-container *ngIf="response && response.states.length > 0">
    <div class="card">
        <table>
            <tr>
                <th>Prodct Name</th>
                <th>Product Color</th>
                <th>Status</th>
                <th>Product ID</th>
                <th>Other Party</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of response.states">
                <td>
                    {{item.state.data.productName}}
                </td>
                <td>{{item.state.data.productColor}}</td>
                <td>{{item.state.data.status}}</td>
                <td>{{item.state.data.linearId.id}}</td>
                <td>{{item.state.data.participants[item.state.data.participants.length-1].name.organisation}}</td>
                <td><a style="color: blue; text-decoration: underline; cursor: pointer" (click)="updateStatus(item.state.data.linearId.id)">Update status</a></td>
            </tr>
        </table>
    </div>
</ng-container>